<div cdkDropListGroup>
  <div class="example-container">
    <h2>My tasks</h2>

    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" (click)="openDialog()" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
  </div>
</div>