<!-- <mat-button-toggle-group>
  <mat-button-toggle class="split-button-1">{{test}}</mat-button-toggle>
  <mat-button-toggle
    class="split-button-1 drop-down-button"
    [matMenuTriggerFor]="dropdownMenuOne"
  >
    <mat-icon>arrow_drop_down</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>

<mat-menu #dropdownMenuOne="matMenu">
  <button mat-menu-item (click)="update()">One</button>
  <button mat-menu-item (click)="update2()">Two</button>
  <button mat-menu-item>dcxgv</button>
</mat-menu>

<p>
  TaskID: {{data.task}}
  Description: {{data.description}}
  Status: {{data.status}}
  Estimation: {{data.estimation}}
  Priority: {{data.priority}}
  Sprint: {{data.sprint}}
</p> -->
<p>Because everytime I touch you I get burned from how hot you are</p>
<button (click)=onNoClick() style="margin-right: 20px">Yes</button>
<button (click)=onNoClick()>No</button>
