.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }
  
  .model-card {
      width: 400px;
      height: 100px;
  }

  .dx-data-grid{
    height: 280px;
    width: 280px;
    border: 2px solid #BFBFC6;
    background-color: #F9F9FB;
  }
  
  
  ::ng-deep .header-text-diameter{
    width: 121px;
    color: #363545;
    font-family: "Segoe UI";
    font-size: 12px;
    letter-spacing: 0;
  }
  
  ::ng-deep .header-text{
    width: 154px;
    color: #363545;
    font-family: "Segoe UI";
    font-size: 12px;
    letter-spacing: 0;
  }
  
  .dx-datagrid-text-content {
    margin-top:20px;
    white-space: normal;
  }
  
  ::ng-deep .dx-datagrid-headers {
    background-color: #EAEAEF;
  }
  
  ::ng-deep .dx-scrollable-container {
    background-color: #F9F9FB;
   }
  
  ::ng-deep .gridContainer .dx-datagrid-rowsview .dx-row td {
    border-bottom: 1px solid #E2E2E7 ;
    color: #363545;
    font-family: "Segoe UI";
    font-size: 12px;
    letter-spacing: 0;
    line-height: 23px;
    text-align: right;
    height:100%;
  }
  
  
  ::ng-deep  .dx-datagrid .dx-row > td{
    padding: 0px 8px 0px 0px;
  }
  
  ::ng-deep .dx-selectbox{
    width:280px;
    height:24px;
    margin-top:4px;
    margin-bottom: 10px;
  }
  
  .dx-selectbox .dx-texteditor-input:read-only{
    font-size:10px;
  }
  
  ::ng-deep .dx-texteditor-input{
    padding-top:4px;
    padding-bottom: 17px;
    font-family: "Segoe UI";
    font-size: 12px;
  }
  
  ::ng-deep .dx-dropdowneditor-icon::before {
    margin-left: -4px;
   
  }
  
  ::ng-deep .dx-texteditor.dx-editor-outlined {
    border-radius: 0px;
  }
  
  ::ng-deep .dx-dropdowneditor-icon
  {
    border:0px;
    border-radius:0px;
  }
  
  :host ::ng-deep .dx-datagrid-headers table td div.dx-datagrid-text-content {
    white-space: normal;
    text-align: right;
    padding-left:10px;
    padding-bottom:3px;
    padding-top:3px;
    line-height: 16px;
    align-self: flex-end;
  }
  
  ::ng-deep .dx-datagrid-content .dx-datagrid-table .dx-row > td:first-child {
    vertical-align: bottom;
  }
  
  ::ng-deep .dx-dropdowneditor .dx-state-hover:not .dx-dropdowneditor-icon {
  background-color: transparent;
  }
  
  ::ng-deep .dx-placeholder:before{
    padding-bottom:10px;
  }
  
  :host ::ng-deep .dx-dropdowneditor.dx-state-hover:not(.dx-custom-button-hovered) .dx-dropdowneditor-icon {
    background-color: transparent;
    border-color: transparent;
  }
  
  :host ::ng-deep .dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon {
    background-color: transparent;
    color: #333;
    opacity: 1;
  }
  
  :host ::ng-deep .dx-dropdowneditor.dx-state-active .dx-dropdowneditor-icon,
  .dx-dropdowneditor.dx-state-hover:not(.dx-custom-button-hovered) .dx-dropdowneditor-icon {
    background-color:transparent;
    border-color: transparent;
  }
  
  ::ng-deep .dx-placeholder:before {
    display:inline;
    font-size:12px;
  }
  
  ::ng-deep .dx-theme-generic-typography{
    font-size:12px;
  }
  
  ::ng-deep .dx-datagrid .dx-column-indicators {
  display:none;
  }
  
  ::ng-deep .dx-header-row .dx-text-content-alignment-left, .dx-header-row .dx-text-content-alignment-right {
    text-align: right;
  }
  
  ::ng-deep .dx-scrollview-content{
    height: 110px;
  }
  