<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenave
    mode="side"
  >
    <div class="container">Home</div>
    <div class="container">Active sprint</div>
    <div class="container">Backlog</div>


  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container" style="text-align: center;">
    <p>
      <button mat-button mat-icon-button color="black" (click)="sidenave.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </p>
   
    <dragndrop></dragndrop>
    </div>
   
   
      
  
  </mat-sidenav-content>
</mat-sidenav-container>
